.announcement_wrapper {
    min-width: 50%;
    height: 100%;
    margin: 0 auto;
}

.announcement_form {
    padding: 10px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.announcement_form textarea {
    box-sizing: border-box;
    border: 2px solid var(--surface-surface-stroke);
    border-radius: 30px;
    background: var(--surface-surface);
    padding: 20px;
    height: 100%;
    width: 100%;
    resize: none;
    background-color: #fff;
    color: var(--text-variant);
}

.announcement_form textarea::placeholder {
    color: var(--text-text);
}

.announcement_form button {
    width: 160px;
    margin: 3% 0;
    border: none;
    border-radius: 12px;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    padding: 12px;
    background: var(--blue-light);
    transition: background 0.3s ease;
    cursor: pointer;
}

