.daySchedule {
  height: min-content;
  width: 20vw;
  margin: 0 1.09375rem;
  border: 2px solid var(--surface-surface-stroke);
  border-radius: 30px;
  padding: 2.1875rem 1.875rem;
  min-width: 300px;
  background: var(--surface-surface);
}

.daySchedule_items_wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.daySchedule .lesson {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1.5625rem;
}

.daySchedule .lesson .left {
  display: flex;
  align-items: center;
}

.daySchedule .lesson .right {
  display: flex;
  width: 70%;
  justify-content: space-between;
}

.daySchedule .lesson .time {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 0.625rem;
}

.daySchedule .lesson .les_time {
  background: var(--surface-surface-variant);
  border-radius: 10px;
  border: none;
  width: 4.4375rem;
  height: 1.9375rem;
  text-align: center;
  color: var(--text-variant);
  font-weight: 600;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
}

.daySchedule .lesson .les_time.les_time_left {
  margin-right: 0.625rem;
}

.daySchedule .lesson .les_time.les_time_right {
  margin-left: 0.75rem;
}

.daySchedule .lesson .les_time:focus {
  outline: var(--blue-light) solid 3px;
  color: var(--blue-light);
}

.daySchedule .lesson .wall {
  margin: 0rem;
  color: var(--blue-light);
}

.daySchedule:first-child {
  margin-left: 2.1875rem;
}

.daySchedule_top p.name {
  display: flex;
  justify-content: space-between;
  font-size: 1.938rem;
  font-weight: 600;
  color: var(--text-h1);
  margin: 0.3125rem 0px;
  margin-bottom: 1.5625rem;
}

.daySchedule_top p.name span {
  font-weight: inherit;
}
