.time_input {
  height: 100%;
  background: var(--surface-surface-variant);
  border-radius: 10px;
  border: none;
  width: 35%;
  text-align: center;
  color: var(--text-variant);
  font-weight: 600;
  font-size: 1rem;
  padding: 3px 6px;
  font-family: "Inter", sans-serif;
}

.time_input:focus {
  outline: var(--blue-light) solid 3px;
  color: var(--blue-light);
}