.time_range {
  display: flex;
  width: 85%;
  justify-content: space-between;
  align-items: center;
}

.time_range .time_range_wall {
  margin: 0;
  height: min-content;
  font-size: 1.6rem;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  color: var(--blue-light);
}
