@import url("main.css");
* {
    font-style: normal;
    font-weight: 500;
    font-family: "Inter", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: var(--surface-background);
}

div.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: var(--surface-background);
}

#auth {
    height: 53vh;
    width: 44vw;
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
    align-content: space-between;
    justify-content: center;
    padding: 6vh 6vw;
    border-radius: 5vh;
    background: var(--surface-surface);
    border: solid 3px var(--surface-surface-stroke);
    max-height: 370px;
}

#logo {
    width: auto;
    height: 57px;
}

.auth_inp {
    width: 90%;
    padding: 3% 5%;
    margin: 3% 0;
    min-width: 176px;
    height: 4vh;
    border-radius: 10px;
    border: none;
    background: var(--surface-surface-variant);
    font-weight: 400;
    font-size: 16px;
    max-height: 25px;
    transition: outline 0.3s ease-out;
    outline: solid 3px rgba(60, 60, 67, 0);
    color: var(--text-h1);
}

.auth_inp:focus-visible {
    outline: solid 3px var(--blue-light);
}

.auth_inp:first-child {
    margin-top: 4.5vh;
}

button{
    background: none;
    border: none;
}

/* TODO: https://github.com/Agylam/front/issues/46 */
#button {
    width: 100%;
    margin: 3% 0;
    border: none;
    border-radius: 12px;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    padding: 12px;
    background: var(--blue-light);
    transition: background 0.3s ease;
    cursor: pointer;
}

#button:hover {
    background: var(--blue-dark);
}

#rem_pass {
    font-size: 12px;
    color: var(--text-text);
}

#auth_inputs {
    width: 100%;
}

span.mimbol {
    color: var(--blue-light);
}
