@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
    --blue-light: #0057ff;
    --blue-dark: #004ce0;
    --red-red: #e21515;
    --red-light-red: #ffcdcd;
    --red-dark-red: rgba(255, 0, 0, 0.15);
    color-scheme: dark light;
}

html {
    font-size: 16px;
    font-family: "Inter", sans-serif;
}

div#swal2-html-container {
    color: var(--text-text);
}

#root {
    width: 100%;
    height: 100%;
}
body{
    height: 100vh;
}
